<div>
  <h3>A game going on in here</h3>
  <!--<button ng-click="test()">TEST</button>
  <div ng-repeat="items in box">
    <li>{{items}}</li>
  </div>-->
  <h3>TestBoard</h3>
  <!--<button ng-click="makeBoard()">  New Board </button>-->
  <div class="board">
    <div ng-repeat="rows in board">
      <!--<p>ROWS : {{$index}}</p>-->
      <div ng-repeat="columbs in rows"
      class="square" ng-class="{ 'black' : (($index + $parent.$index)%2 )}"
      ng-click="log($parent.$index, $index, columbs.piece)">
        index : {{$parent.$index}} + {{$index}}
        <div ng-class="{'dot': columbs.piece !== null }"></div>
      </div>
    </div>
  </div>
</div>
