body {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
}

header {

}

footer {

}

.loginSelection {
/*background-color: dimgrey;*/
}

.testBlue {
  background-color: cornflowerblue;
}

.testGrey {
  background-color: dimgrey;
}

.testPink {
  background-color: lightpink;
}

