<div>
  <div class="col-md-3 text-center">
    <div>
      <img src="http://static1.tme.eu/pics/icons/no-image-placeholder-big.png" alt="" class="img-rounded">
      <h3>{{currentCostume.character}}</h3>
    </div>
    <div>
      <h3> Progress: ------ </h3>
    </div>
  </div>

  <div class="col-md-9">
    <div class="col-md-12">
      <h3> Refrence Images</h3>
      <img src="http://static1.tme.eu/pics/icons/no-image-placeholder-big.png" alt="" ng-repeat="images in currentCostume.refrenceImages" class="img-thumbnail icon">
       <p> |----------SLIDER BAR HERE (if there are to many)----------|</p>

    </div>

    <div ng-repeat="parts in currentCostume.partsOfCostume"> <!-- Start of repete-->
        <div class="col-md-12 stack">
        <div class="col-md-3 ">
          <span>{{parts.part}} :</span>
        </div>
        <div class="col-md-2 ">
          <button type="button" class="btn btn-primary btn-sm"> Refrences </button>
        </div>
        <div class="col-md-2 col-md-offset-3">
          <button type="button" class="btn btn-primary btn-sm"> Compare </button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-sm"> Remove </button>
        </div>
        <br>
        <hr class="bold">
        <p>Notes : {{parts.notes}}</p>

        <div class="col-md-12">
          <img src="http://static1.tme.eu/pics/icons/no-image-placeholder-big.png" alt="" ng-repeat="options in parts.materialOptions" class="img-thumbnail icon">
        <p> |----------SLIDER BAR HERE (if there are to many)----------|</p>
        </div>
      </div>
    </div>  <!--End of repete-->

  </div>



  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary btn-sm"> Add Part + </button>
  </div>

</div>
